* {
    box-sizing: border-box;
}

nav {
    height: 400px;
    width: 800px;
    margin: auto;
}

.container {
    border: 2px dashed hsl(43, 74%, 49%);
    background-color: hsla(240, 100%, 50%, 0.7);
}

.container > div {
    color: #ffffff;
    font-size: 22px;
    padding: 5%;
}


