* {
    box-sizing: border-box;
}

nav {
    height: 400px;
    width: 800px;
    margin: auto;
}

.container {
    border: 5px solid hsl(43, 74%, 49%);
    background-color: #0000ffb3;
    display: flex;
    flex-direction: column;
}

.container > div {
    color: #f5f5f5;
    font-size: 22px;
    padding: 50px;
    text-align: center;
    font-weight: 800;
}

.first {
    border-bottom: 3px solid #000000;
}

.second {
    border-bottom: 3px solid #000000;
    background-color: #474747;
}

