* {
    box-sizing: border-box;
}

.container {
    height: 400px;
    width: 800px;
    display: flex;
    border: 2px dashed hsl(43, 74%, 49%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 80px;
}


